.new-courses.swiper {
    width: 100%;
    height: 100%;
    border-radius: 26px !important;
}

.new-courses.swiper-slide {
    width: 100%;
    height: 100%;
    border-radius: 26px !important;
}

.new-courses.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-courses.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-courses.swiper-button-next {
    width: 49px;
    height: 49px;
    padding: 10px;
    border-radius: 18px;
    position: absolute;
    top: 45% !important;
    right: -80px !important;
    transform: translateY(-45%);
}

.new-courses.swiper-button-next::after {
    display: none !important;
}

.new-courses.swiper-button-prev {
    width: 49px;
    height: 49px;
    padding: 10px;
    border-radius: 18px;
    position: absolute;
    top: 45% !important;
    left: -80px !important;
    transform: translateY(-45%) rotate(180deg);
}


.new-courses-custom.swiper-button-next {
    width: 49px;
    height: 49px;
    padding: 10px;
    border-radius: 18px;
}

.new-courses-custom.swiper-button-prev {
    width: 49px;
    height: 49px;
    padding: 10px;
    border-radius: 18px;
}


.new-courses.swiper-button-prev::after {
    display: none !important;
}

.new-courses.swiper-pagination {
    position: absolute !important;
    top: -50px !important;
    left: 50% !important;
    transform: translateX(-50%);
    width: auto !important;
    height: 24px !important;
    display: none !important;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    border-radius: 12px;
}

.new-courses.swiper-pagination .swiper-pagination-bullet {
    background-color: #E5E7FF;
    width: 8px !important;
    height: 8px !important;
    margin-left: 10px;
}

.new-courses.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ffffff;
}

/* @media screen and (max-width: 640px) {
    .new-courses.swiper-button-next {
        width: 49px;
        height: 49px;
        padding: 10px;
        border-radius: 18px;
        display: none !important;
        position: absolute;
        top: 45% !important;
        right: -80px !important;
        transform: translateY(-45%);
    }

    .new-courses.swiper-button-next::after {
        display: none !important;
    }

    .new-courses.swiper-button-prev {
        width: 49px;
        height: 49px;
        padding: 10px;
        border-radius: 18px;
        position: absolute;
        top: 45% !important;
        left: -80px !important;
        transform: translateY(-45%);
    }
} */